body{
    background-color: #fea889;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
/*Navbar all*/
#navbar-all{
    background-color: #70d0c6;
    border-radius: 0;
    border: 0;
}
/*The hamburger menu icon and the border*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1.5px solid black;
    background-color: #70d0c6;
}
/*the menu items*/
.list-item a{
    font-size: 20px;
    color:black;
    text-decoration: none;
}

/*The name*/
.navbar-brand h1 { 
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  /*main page title*/
  .main-title{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 20px;
  }
  /*the main content*/
  .box{
    background-color: #ffd8c5;
    height: 1000px;
    margin-bottom:15px;
    padding: 10px;
    border: 1px solid black;
     }
  /*content title*/
  .content-title{
    font-weight: 400;
    font-size: 2em;
  }
  .content-para{
    font-size: 16px;
    align-content: center;
  }

  @media (min-width: 992px) {
    .box {
      margin-right: 15px;
      margin-left: 15px; /* Adds space between boxes on desktop */
    }
  }
